{% extends "base.html" %}
{% block body %}
<h1><a href="/">Home</a> &rarr; {{ repo.name }}</h1>
{% if issues %}
<ul>
  {% for issue in issues %}
<li><a href='{{ repo.url() + '/issue/' + issue.number|string }}'>{{ issue.number }}</a> - State: {{ issue.github.state }} -  {{ issue.github['events']|length }} event(s)
    {% if issue.zenhub and issue.zenhub.pipeline %}
- Pipeline: {{ issue.zenhub.pipeline.name }}
    {% endif %}
</li>
  {% endfor %}
</ul>
{% else %}
<p>No issues</p>
{% endif %}
<form action="{{ repo.url() + '/sync' }}" method="post">
  <div><input type="submit" value="Sync this repo"></div>
</form>

<form action="{{ repo.url() + '/delete' }}" method="post">
  <div><input type="submit" value="Delete this repo"></div>
</form>
{% endblock %}
